/* Custom none bootstrap css */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Road+Rage&display=swap');

body {
    background-image: url('../img/cadius_forum_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.fontawe {
    color: black;
}

.category {
    font-family: Kanit, sans-serif;
    height: 75px;
}

.topic {
    font-family: Kanit, sans-serif;
    height: 75px;
}

.mainreply {
    font-family: Kanit, sans-serif;
    height: 50px;
}

p {
    margin-bottom: 0;
}