{% extends "base.html" %}

{{ reply_form.media }}

{% block content %}
    <div>
        <div>
            {{ topic.title }}
            <br>
            {{ topic.description|safe }}
            <br>
            {% for reply in replys %}
                {{ reply.description|safe }}
                <br>
            {% endfor %}
        </div>
        <div>
            {% if user.is_authenticated %}
            <h5>Leave a reply:</h5>
            <form method="post">
                {{ reply_form }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
