{% extends "base.html" %}

{% block head %}
    <!-- TINYMCE Widget  -->
    {{ reply_form.media }}
{% endblock %}

{% block nav %}
    <ol class="col-8 breadcrumb align-middle ps-5">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category_detail' category_id  %}">{{ category.name }}</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">{{topic.title}}</li>
    </ol>
{% endblock %}

{% block content %}
    <div>
        <div class="container">
            <div class="col">
                <p class="bg-dark bg-opacity-100 rounded-top mt-2 fs-1 text-white mainreply">
                    {{ topic.title }}
                    {% if topic.author == request.user %}
                    <a class="justify-content-md-end btn btn-secondary btn-sm" href="{% url 'edit_topic' category_id topic.id %}">Edit</a>
                    <a class="justify-content-md-end btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-{{ topic.id }}">Delete</a>    
                    <!-- Delete Modal -->
                    <div class="modal fade" id="modal-{{ topic.id }}" tabindex="-1" aria-labelledby="modal-{{ topic.id }}-Label" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-{{ topic.id }}-Label">Delete Topic</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ topic.title }}?
                                <br>
                                <small class="text-muted">Deleting this will delete all related replies</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_topic' category_id topic.id %}" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                </p>
                <div class="bg-secondary bg-opacity-100 text-white rounded-bottom">
                    {{ topic.description|safe }}
                </div>
            </div>
        </div>
        <div>
            {% for reply in replys %}
            <div class="container">
                <div class="mt-3 bg-success bg-opacity-100 text-white rounded-top">
                    {{ reply.description|safe }}
                </div>
                <div class="col bg-dark bg-opacity-100 text-white rounded-bottom">
                    author: {{ reply.author }} - replied: {{ reply.replydate }}
                    {% if reply.author == request.user %}
                    <a class="justify-content-md-end" href="{% url 'edit_reply' category_id topic.id reply.id %}#form">Edit</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="container text-white">
            {% if user.is_authenticated %}
            <h5>Leave a reply:</h5>
            <form method="post">
                {{ reply_form }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.tiny.cloud/1/{{ TINYMCE_API }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}
