{% extends "base.html" %}

{% block content %}
    <div>
        <div class="row bg-dark bg-gradient bg-opacity-50">
            <p class="col-8 text-center fs-1 fw-bold">{{ category.name }}</p>
            {% if user.is_authenticated %}
            <a class="col-4 text-center fs-1 fw-bold fontawe" href="{% url 'new_topic' category.id %}"><i class="fas fa-plus-square"></i></a>
            {% endif %}
        </div>
        <div class="container gy-5">
            {% for topic in topics %}
            <div class="row bg-dark bg-gradient bg-opacity-25 rounded topic">
                <a class="col d-flex fs-3 align-items-center text-black text-decoration-none" href="{% url 'topic_detail' category.id topic.id %}">{{ topic.title }}</a>
                <div class="col d-flex align-items-center justify-content-end">
                    {{ topic.author }}
                    <br>
                    {{ topic.startdate }}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
