{% extends "base.html" %}

{% block nav %}
    <ol class="col-8 breadcrumb align-middle ps-5">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">{{ category.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div>
        <div class="row bg-dark bg-gradient">
            <p class="col-8 text-center text-white fs-1 fw-bold">{{ category.name }}</p>
            {% if user.is_authenticated %}
            <a class="col-4 text-center text-white fs-1 fw-bold fontawe" href="{% url 'new_topic' category.id %}"><i class="fas fa-plus-square"></i></a>
            {% endif %}
        </div>
        <div class="container gy-5 mt-2">
            {% for topic in topics %}
            <div class="row bg-dark bg-gradient bg-opacity-75 rounded topic">
                <a class="col fs-3 align-middle text-white text-decoration-none" href="{% url 'topic_detail' category.id topic.id %}">{{ topic.title }}</a>
                <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-white align-items-center justify-content-start">
                    {{ topic.author }}
                    <br>
                    {{ topic.startdate }}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
