{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block head %}
    {{ topic_form.media }}
{% endblock %}
{% block content %}
<div class="container text-white">
    <div class="row d-flex vh-25 mb-1 mt-1 align-items-center justify-content-center fs-1">
        <p class="bg-dark bg-opacity-100">{{ category.name }}</p>
            <form method="post">
                {{ topic_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.tiny.cloud/1/{{ TINYMCE_API }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}