{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/kk4swkb04vqedmk7habq01q02njy7r7t9fe67ofq3onk1o1p/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Cadius Forum</title>
    {{ reply_form.media }}
    {{ topic_form.media }}
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">Cadius Gaming Forum</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign in/up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <section id="alerts">
        {% for msg in messages %}
            <!-- all django message tags mirror bootstrap, except error/danger -->
            <aside class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} text-center" role="alert">
                <h3>{{ msg }}</h3>
            </aside>
        {% endfor %}
    </section>
    {% endif %}
    <!--Main-->
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <!--Footer-->
    <footer>
        <div>
            <div>
                <p>&copy; Cadius Gaming 2022</p>
            </div>
            <!-- Social Networks -->
            <div>
                <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our facebook page which opens in a new tab"><i class="fab fa-facebook-square"></i></a>
                <a href="https://Twitter.com" target="_blank" rel="noopener" aria-label="Visit our facebook page which opens in a new tab"><i class="fab fa-twitter-square"></i></a>
                <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our facebook page which opens in a new tab"><i class="fab fa-youtube-square"></i></a>
                <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our facebook page which opens in a new tab"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>    
    </footer>
    <!--Scripts-->
    <!-- <script src="{% static 'js/tinymce.js' %}"></script> -->
    <script src="https://kit.fontawesome.com/cd8b967c41.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>