{% extends "base.html" %}

{% block content %}
    <div class="container gy-5">
        <div class="row bg-success bg-gradient rounded-4 vh-25 mb-1 mt-1 align-items-center justify-content-center category">
            <p class="text-white text-center">Hellow and Welcome to the Cadius Forum</p>
            <p class="text-white text-center">Here we discuss a variety of topics within the games the Cadius Community plays.</p>
        </div>
    </div>
    <!-- Category List -->
    <div>
        <div class="container gy-5">
            {% for cat in category_list %}
                <div class="row d-flex bg-secondary bg-gradient rounded-4 vh-25 mb-1 mt-1 align-items-center justify-content-center fs-1 category">
                    <a class="text-white text-decoration-none" href="{% url 'category_detail' cat.id %}">{{cat.name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}