{% extends "base.html" %}

{{ ReplyForm.media }}

{% block content %}
    <div>
        <div>
            {{ topic.title }}
            <br>
            {{ topic.description }}
            <br>
            {% for reply in replys %}
                {{ reply.description }}
                <br>
            {% endfor %}
        </div>
        <div>
            <h5>Leave a reply:</h5>
            <form method="post">
                {{ reply_form }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
